body {
  background-image: url('https://raw.githubusercontent.com/lyh1068/datasets/main/TreeinForest.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
